-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th#title_header{params[:sorted] == "title" ? {:class => "hilite"} : {}}  
        %a= link_to "Movie Title", params.merge(:sorted => "title")
      %th Rating
      %th#release_date_header{params[:sorted] == "release_date" ? {:class => "hilite"} : {}}
        %a= link_to "Release Date", params.merge(:sorted => "release_date")
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
